main#content(role='main')
	.homepage.mdn-ui-body-m
		.homepage-hero.dark
			section
				h1
					| Resources for 
					u Developers
					| ,
					br
					| by Developers
				p Documenting web technologies, including CSS, HTML, and JavaScript, since 2005.
				.homepage-hero-search
					form.search-form.search-widget#hp-search-form(action='/en-US/search' role='search' aria-haspopup='listbox' aria-owns='downshift-175-menu' aria-expanded='false')
						label.visually-hidden(for='hp-search-q') Search MDN
						input#hp-search-q.search-input-field(type='search' aria-autocomplete='list' aria-controls='downshift-175-menu' aria-labelledby='downshift-175-label' autocomplete='off' name='q' placeholder='   ' required)
						button.button.action.has-icon.clear-search-button(type='button')
							span.button-wrap
								span.icon.icon-cancel
								span.visually-hidden Clear search input
						button.button.action.has-icon.search-button(type='submit')
							span.button-wrap
								span.icon.icon-search
								span.visually-hidden Search
						#downshift-175-menu(role='listbox' aria-labelledby='downshift-175-label')
			.mandala-container.homepage-hero-bg
				.mandala-translate.mandala-rotate
					svg.mandala(width='675' height='675' viewBox='0 0 675 675' fill='none' xmlns='http://www.w3.org/2000/svg')
						title Mandala
						defs
							path#circle1(d='M337.5,337.5 m-320,0 a320,320 0 1,1 640,0 a320,320 0 1,1 -640,0')
							path#circle2(d='M337.5,337.5 m-280,0 a280,280 0 1,1 560,0 a280,280 0 1,1 -560,0')
							path#circle3(d='M337.5,337.5 m-240,0 a240,240 0 1,1 480,0 a240,240 0 1,1 -480,0')
							path#circle4(d='M337.5,337.5 m-200,0 a200,200 0 1,1 400,0 a200,200 0 1,1 -400,0')
							path#circle5(d='M337.5,337.5 m-160,0 a160,160 0 1,1 320,0 a160,160 0 1,1 -320,0')
						text.mandala-accent-1(dy='70' textLength='2010')
							textPath(textLength='2010' href='#circle1')
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
						text.mandala-accent-2(dy='70' textLength='1760')
							textPath(textLength='1760' href='#circle2')
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
						text.mandala-accent-3(dy='70' textLength='1507')
							textPath(textLength='1507' href='#circle3')
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
						text.mandala-accent-4(dy='70' textLength='1257')
							textPath(textLength='1257' href='#circle4')    ../../    ../../    ../../    ../../    ../../    ../../    ../../
						text.mandala-accent-5(dy='70' textLength='1005')
							textPath(textLength='1005' href='#circle5')
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
		.featured-articles
			h2.mdn-ui-emphasis-l Featured Articles
			.tile-container
				.article-tile
					a.tile-tag(href='/en-US/docs/Web/HTML') HTML
					a.tile-title.expand-this-link(href='/en-US/docs/Web/HTML/Element/dialog') <dialog>: The Dialog element
					p The <dialog> HTML element represents a dialog box or other interactive component, such as a dismissible alert, inspector, or subwindow.
				.article-tile
					a.tile-tag(href='/en-US/docs/Web/CSS') CSS
					a.tile-title.expand-this-link(href='/en-US/docs/Web/CSS/revert-layer') revert-layer
					p The revert-layer CSS keyword rolls back the value of a property in a cascade layer to the value of the property in a CSS rule matching the element in a previous cascade layer.
				.article-tile
					a.tile-tag(href='/en-US/docs/Web/API') Web APIs
					a.tile-title.expand-this-link(href='/en-US/docs/Web/API/Canvas_API/Tutorial') Canvas tutorial
					p This tutorial describes how to use the <canvas> element to draw 2D graphics, starting with the basics. The examples provided should give you some clear ideas about what you can do with canvas, and will provide code snippets that may get you started in building your own content.
		section.recent-contributions
			h2.mdn-ui-emphasis-l Recent contributions
			ul.contribution-list
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/15032')
							| Update current node version in LA/Express
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 6 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/15072')
							| Fix dead link
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 6 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/15070')
							| fix link to store contract page
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 6 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/15066')
							| Fixed typo from messageerror copypasta
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 7 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/15060')
							| HTTP -> HTTPS
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 13 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/15063')
							| Update redirected URLs from `*.mozilla.org` (part 10)
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 17 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/15041')
							| Update redirected URLs from `*.mozilla.org` (part 9)
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 17 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/15012')
							| Update redirected URLs due to sites moved from `*.github.io` (part 8)
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 17 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/14976')
							| Update GitHub URL redirects due to repo name change such as 'mozilla' to 'mdn' (part 7)
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 18 hours ago
				li.request-item
					p.request-title
						a(href='https://github.com/mdn/content/pull/14950')
							| Update GitHub URL redirects 'blob-tree' and 'tree-blob' (part 6)
							//  
							|  
						span
							a.request-repo(href='https://github.com/mdn/content') mdn/content
					span.request-date 18 hours ago
		.contributor-spotlight.dark
			.wrapper
				.text-col
					h2.mdn-ui-emphasis-l Contributor Spotlight
					a.contributor-name(href='community/spotlight/tanner-dolby') Tanner Dolby
					blockquote
						span.icon.icon-quote
						| I contribute to MDN because our community is a welcoming and exciting group of people who are passionate about helping build a better Web.
					a.spotlight-cta(href='/en-US/community') Get involved →
				figure.contributor-graphic
					img(width='523' height='323' src='/assets/mdn_contributor.png' alt='Tiled Mozilla Logo')
			.mandala-container
				.mandala-translate
					svg.mandala(width='675' height='675' viewBox='0 0 675 675' fill='none' xmlns='http://www.w3.org/2000/svg')
						title Mandala
						defs
							path#circle1(d='M337.5,337.5 m-320,0 a320,320 0 1,1 640,0 a320,320 0 1,1 -640,0')
							path#circle2(d='M337.5,337.5 m-280,0 a280,280 0 1,1 560,0 a280,280 0 1,1 -560,0')
							path#circle3(d='M337.5,337.5 m-240,0 a240,240 0 1,1 480,0 a240,240 0 1,1 -480,0')
							path#circle4(d='M337.5,337.5 m-200,0 a200,200 0 1,1 400,0 a200,200 0 1,1 -400,0')
							path#circle5(d='M337.5,337.5 m-160,0 a160,160 0 1,1 320,0 a160,160 0 1,1 -320,0')
						text.mandala-accent-1(dy='70' textLength='2010')
							textPath(textLength='2010' href='#circle1')
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								|    /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
								| /
								tspan /
						text.mandala-accent-2(dy='70' textLength='1760')
							textPath(textLength='1760' href='#circle2')
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
								|   +
								tspan +
								| +
								tspan +
								| +
								tspan +
						text.mandala-accent-3(dy='70' textLength='1507')
							textPath(textLength='1507' href='#circle3')
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
								tspan {
								| {
								tspan {
								| { 
								tspan }
								| }
								tspan }
								| }  
						text.mandala-accent-4(dy='70' textLength='1257')
							textPath(textLength='1257' href='#circle4')    ../../    ../../    ../../    ../../    ../../    ../../    ../../
						text.mandala-accent-5(dy='70' textLength='1005')
							textPath(textLength='1005' href='#circle5')
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
								tspan <>
								| </>
